* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  height: 36rem;
  width: 30em;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
.heading {
  height: 40px;
  width: 20em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
}
.write {
  display:flex;
  height: 10em;
  width: 20em;
  margin-bottom: 2px;
  border: none;
  background-color:white;
  justify-content: flex-end;
  align-items: flex-end;
}
.buttons {
  height: 6em;
  width: 6em;
  background-color: royalblue;
  color:rgb(245, 240, 240);
}
#btn1,#btn2,#btn3,#btn4,#btn8,#btn12,#btn16,#btn19{
  background-color: red;
}
.specialButton {
  height: 6em;
  width: 12em;
  background-color: royalblue;
}
